<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
		<script type="text/javascript" src="/pocc/js/flexible.js" ></script>
		<link rel="stylesheet" href="/pocc/fonts/fonts.css" />
		<link rel="stylesheet" href="/pocc/css/c-reset.css" />
		<link rel="stylesheet" href="/pocc/css/style.css" />
	</head>
	<body>
		<div class="c-box">
<style>
body,html{ height: 100%;}
.c-box{ height: 100%;}
</style>
			<div class="c-index">
				<div class="box">
					<div class="c-logo"><img src="/pocc/img/logo1.png" /></div>
					<p>帕克链是一个基于区块链与AI技术的供应链金融生态平台。</p>
	      			<p>致力于构建一个专注服务中小企业的基于区块链的供应链金融生态平台，採用主链+子链的混合；链末世，创新DPOC共识机制，结合AI的NLP技术，独创分众链保的模式，让供应链金融不只服务于核心企业，还可以穿透下沉服务于核心企业，还可以穿透下沉服务于供应链上的所有企业，实现供应链的惠普金融，分众链保。</p>
	      			<a href="/mzb/userCenter">探索[帕克链-企业版]</a>
				</div>
			</div>
		</div>
	</body>
</html>
