<%include ../../init/topbar.html %>  
<div class="c-allAlliance">
    <div class="mt">
        <img src="/pocc/img/bg2.jpg" />
        <ul class="c-slide">
            <li class="li1 active"><a href="/mzb/union">
                    <div class="c-img"></div>
                    <div class="c-tit">所在联盟</div>
                </a></li>
            <li class="li2"><a href="/mzb/union/task">
                    <div class="c-img"></div>
                    <div class="c-tit">联盟任务</div>
                </a></li>
            <li class="li3"><a href="/mzb/union/list">
                    <div class="c-img"></div>
                    <div class="c-tit">所有联盟</div>
                </a></li>
        </ul>
    </div>
    <div class="mc">
        <div class="c-top"><div class="c-h1">企业联盟
                <!--                <a href="#"><img src="/pocc/img/icon13.png" /></a>-->
            </div></div>
        <ul>

            <%  
            if(unionCompanys.totalPage>0){ 
            for(var v in unionCompanys.pd.data){
            var union =unionCompanys.pd.data[v]; %>
            <a href="/mzb/union/<%=union.id%>/show">
                <li>
                    <div class="c-img"><img src="<%=union.logo%>"></div>
                    <div class="c-tit">
                        <div class="c-t">
                            <div class="c-l">
                                <h2><%=union.name%> </h2>
                                <p class="nowrap"> <% if(union.info!==undefined ){ %>
                                    <%=union.info%>               
                                    <%}else{%>
                                    暂无简介
                                    <%}%> </p>
                            </div>
                            <div class="c-r"><a href="#"><img src="/pocc/img/icon14.png" /></a></div>
                        </div>
                        <div class="c-b">
                            <!--                        <img src="/pocc/img/icon15.png" /><span>xxxx公司创建</span>-->
                            <% if(union.num>0 ){ %>
                            <img src="/pocc/img/icon6.png" /><span>
                                <a onclick="getUnions('<%=union.id%>', '<%=union.num-1%>');"><%=union.num%>个成员</a></span></div>
                        <%}else{%>
                        <img src="/pocc/img/icon6.png" /><span><a onclick="none();" ><%=union.num%>个成员</a></span></div>

                    <%}%> 
                    </div>
                </li>
            </a>
            <%} 
            }else{
            %>
            <%}%> 


        </ul>
    </div>
</div>
<div class="c-page">
    <%-unionCompanys.pageStr%>
    <!--<a class="page" href="#">首页</a><a class="on" href="#">1</a><a href="#">2</a><a href="#">3</a><a class="dian" href="#">...</a><a href="#">10</a><a class="page" href="#">下一页</a>-->
</div>
<script type="text/javascript" src="js/jquery1.9.1.min.js" ></script>
<script type="text/javascript" src="js/style.js" ></script>
<script>

                            function getUnions(unionid, num)
                            {
//        alert(num)
                                if (num === "0") {
                                    alert("暂无其他成员");
                                } else {
//        alert(unionid);
                                    $.ajax({
                                        type: "get", //方法类型
                                        dataType: "html", //预期服务器返回的数据类型
                                        url: "/mzb/union/otherCompany?unionId=" + unionid, //url
                                        data: {},
                                        success: function (result) {
//                    alert("#l_id1_" + unionid);
                                            $("#l_id1_" + unionid).html(result);
//                    alert($("#l_id1_" + unionid).html());
                                            $("#l_id1_" + unionid).toggle(500);
                                        }
                                    });
                                }
                            }
</script>
<%include ../../init/footerbar.html %>  

