<%include ../../init/topbar.html %>  

<div class="c-allAlliance c-allianceMission">
    <div class="mt">
        <img src="/pocc/img/bg2.jpg" />
        <ul class="c-slide">
            <li class="li1"><a href="/mzb/union">
                    <div class="c-img"></div>
                    <div class="c-tit">加入的联盟</div>
                </a></li>
            <li class="li2 active"><a href="/mzb/union/task">
                    <div class="c-img"></div>
                    <div class="c-tit">联盟任务</div>
                </a></li>
            <li class="li3"><a href="/mzb/union/list">
                    <div class="c-img"></div>
                    <div class="c-tit">所有联盟</div>
                </a></li>
        </ul>
    </div>
    <div class="mc">
        <div class="c-top"><div class="c-h1">联盟任务<a href="#"><img src="/pocc/img/icon13.png" /></a></div></div>
        <ul>
            <%  
            if(unionTasks.totalResult>0){ 
            for(var v in unionTasks.pd.list){
            var task =unionTasks.pd.list[v];  

                            
            if(task.taskRecord!==undefined && task.taskRecord.indexOf(task.id+":")<0){%>
            <li>

                <div class="c-img"><img src="<%=task.logo%>" /></div>
                <% if(task.type==0){ %>
                <div class="c-tit">
                    <div class="c-t">
                        <div class="c-l">
                            <h2><%=task.name%></h2>
                            <p class="nowrap">
                                <!--                                于<%=task.ajoinTimeStr%><%=task.unionName%>  -->
                                申请加入联盟 请您投票</p>
                        </div>
                    </div>
                    <div class="c-b">
                        <img src="/pocc/img/icon15.png" /><span>已同意:
                            <% if(task.agreeNumber== undefined){ %>
                            0
                            <% }else{ %>
                            <%=task.agreeNumber%>
                            <% } %></span>
                        <button class="c-btn" onclick="window.location.href='/mzb/union/taskShow/<%=task.requestId%>/a'">查看详情</button>
                    </div>
                </div>
                <%}else{%>
                <div class="c-tit">
                    <div class="c-t">
                        <div class="c-l">
                            <h2><%=task.name%></h2>
                            <p class="nowrap">
                                <!--                                于<%=task.ajoinTimeStr%> 所在联盟:<%=task.unionName%> -->
                                申请贷款，请您参与担保
                        </div>
                    </div>
                    <div class="c-b">
                        <img src="/pocc/img/icon15.png" /><span>已担保:
                            <% if(task.agreeNumber== undefined){ %>
                            0
                            <% }else{ %>
                            <%=task.agreeNumber%>
                            <% } %></span>
                        <button class="c-btn" onclick="window.location.href='/mzb/union/loanRequest/<%=task.requestId%>/show'">查看详情</button>
                    </div>
                </div>
                <%}%> 
            </li>
            <% 
            }else{  
            }

            } 
            }else{

            }%>
        </ul>
    </div>
    <div class="c-page">
        <!--            		<a class="page" href="#">首页</a><a class="on" href="#">1</a><a href="#">2</a><a href="#">3</a><a class="dian" href="#">...</a><a href="#">10</a><a class="page" href="#">下一页</a>-->
        <%-unionTasks.pageStr%>
    </div>
</div>
 
<%include ../../init/footerbar.html %>  

