<%include ../../init/topbar.html %>    

<div class="c-allianceMain">
    <div class="mt">
        <div class="c-t">
            <div class="c-img"><img src="<%=unionDetail.data.logo%>" /></div>
            <div class="c-tit"><%=unionDetail.data.name%></div>
            <div class="c-level">评级：6</div>
        </div>
        <div class="c-c">
            <ul>
                <li class="li1">
                    <h2><span>26</span>次</h2>
                    <p>操作项目</p>
                </li>
            </ul>
        </div>
        <div class="c-b">
            <div class="c-l">POCC持有量：20000万</div>
            <div class="c-r">已完成：1500万</div>
        </div>
    </div>
    <div class="mc">
        <div class="c-h1">联盟介绍</div>
        <p><%=unionDetail.data.info%></p>
    </div>
    <div class="mb">
        <div class="c-h1">联盟成员</div>
        <ul>
            <%  
            if(allUnionCompanys.count>0){ 
            for(var v in allUnionCompanys.data){
            var union =allUnionCompanys.data[v]; %>
            <li><%=union.name%></li>
            <%} 
            }else{
            %>

            <%}%>
        </ul>
    </div>
    <div class="c-h128"></div>
    <!--<div class="c-b-bottom"><button class="btn">申请加入联盟</button></div>-->

    <div class="c-b-bottom"><button class="btn">
        <%  
        if(allUnionCompanys.count>0){ 
        for(var v in allUnionCompanys.data){
        var union=allUnionCompanys.data[v]; %>
        
            <% if(union.companyId==companyId ){ %> 
            <a onclick="alert('您已经是联盟成员了')">加入联盟</a>
            <%}else{%>
            <a onclick="if (confirm('确定要加入联盟吗？')) {
                        $('#toNowWindow').attr('src', '/mzb/union/joinUnion/<%=unionDetail.data.id%>')
                    }">加入联盟</a>
            <%}%>

            <%}%>
            <%}else{%>
            <a onclick="if (confirm('确定要加入联盟吗？')) {
                        $('#toNowWindow').attr('src', '/mzb/union/joinUnion/<%=unionDetail.data.id%>')
                    }">加入联盟</a>
            <%}%>
        </button>
    </div>
</div>
<iframe id="toNowWindow"  name="toNowWindow" style="display:none" ></iframe>		
