<%include ../../init/topbar_c.html %> 
<div class="c-allAlliance c-allianceMission">

    <div class="mt">
        <img src="/pocc/img/bg2.jpg" />
        <ul class="c-slide">
            <li class="li4 "><a href="javascript:;">
                    <div class="c-img"></div>
                    <div class="c-tit">会员排行</div>
                </a></li>
            <li class="li5 hover"><a href="javascript:;">
                    <div class="c-img"></div>
                    <div class="c-tit">新鲜事</div>
                </a></li>
            <li class="li6"><a href="javascript:;">
                    <div class="c-img"></div>
                    <div class="c-tit">派克探秘</div>
                </a></li>
        </ul>
    </div>

    <div class="mt_con">

        <div class="title1">
            <i class="ico"></i>
            <div class="name">收益排行</div>
            <div class="date">更新于 2018-10-25 14：00</div>
        </div>

        <div class="mt_rank">
            <table class="mt_tab">

                <tr>
                    <th>名次</th>
                    <th>用户</th>
                    <th>收益</th>
                </tr>
                <%  
                if(userRanks.resultCode== 'SUCCESSFUL'){ 
                for(var v in userRanks.userRank){
                var num =parseInt(v)+1;
                var userRank =userRanks.userRank[v]; %>
                <tr>
                    <td><%=num%></td>
                    <td><%=userRank.name%></td>
                    <td><%=userRank.shouyi%></td>
                </tr>
                <%} 
                }else{
                %>
                <tr>
                    <td>--</td>
                    <td>---</td>
                    <td>--</td>
                </tr>
                <%}%> 


            </table>
        </div>


        <div class="clear"></div>
    </div>

    <div class="mt_con show">
        <%  
        if(articleList.totalResult>0){ 
        for(var v in articleList.pd.list){
        var article =articleList.pd.list[v]; %>
        <a href="/mzc/find/articleShow/<%=article.id%>" class="mt_item">
            <div class="photo">
                <img src="<%=imageUrl%><%=article.imagePath%>" alt="">
            </div>
            <span class="name"><%=article.title%></span>
        </a>
        <%} 
        }else{
        %>
        <a href="#" class="mt_item"> 
            <span class="name">更有更多数据...</span>
        </a>
        <%}%> 


    </div>

    <div class="mt_con">
        <%  
        if(articleList2.totalResult>0){ 
        for(var v in articleList2.pd.list){
        var article =articleList2.pd.list[v]; %>
        <a href="/mzc/find/articleShow/<%=article.id%>" class="mc_item">
            <div class="photo">
                <img src="<%=imageUrl%><%=article.imagePath%>" alt="">
            </div>
            <div class="inf">
                <div class="name"><%=article.title%></div>
                <div class="jf">首次阅读获3积分</div>
                <div class="by">by - POCC</div>
            </div>
            <div class="clear"></div>
        </a>

        <%} 
        }else{
        %>
        <a href="#" class="mt_item"> 
            <span class="name">更有更多数据...</span>
        </a>
        <%}%> 


        <div class="line30"></div>

    </div>


</div>


<%include ../../init/footerbar_c.html %> 

<script type="text/javascript" src="js/style.js" ></script>
<script type="text/javascript">
    tabs(".mt li", ".mt_con");
</script>


