@font-face {font-family: "SourceHanSansCN-Normal";
  src: url('SourceHanSansCN-Normal.eot'); /* IE9*/
  src: url('SourceHanSansCN-Normal.eot') format('embedded-opentype'), /* IE6-IE8 */
  url('SourceHanSansCN-Normal.woff') format('woff'), /* chrome, firefox */
  url('SourceHanSansCN-Normal.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('SourceHanSansCN-Normal.svg') format('svg'); /* iOS 4.1- */
}
@font-face {font-family: "SourceHanSansCN-Bold";
  src: url('SourceHanSansCN-Bold.eot'); /* IE9*/
  src: url('SourceHanSansCN-Bold.eot') format('embedded-opentype'), /* IE6-IE8 */
  url('SourceHanSansCN-Bold.woff') format('woff'), /* chrome, firefox */
  url('SourceHanSansCN-Bold.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('SourceHanSansCN-Bold.svg') format('svg'); /* iOS 4.1- */
}
@font-face {font-family: "SourceHanSansCN-Light";
  src: url('SourceHanSansCN-Light.eot'); /* IE9*/
  src: url('SourceHanSansCN-Light.eot') format('embedded-opentype'), /* IE6-IE8 */
  url('SourceHanSansCN-Light.woff') format('woff'), /* chrome, firefox */
  url('SourceHanSansCN-Light.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('SourceHanSansCN-Light.svg') format('svg'); /* iOS 4.1- */
}

