<%include ../../init/topbar.html %>  

<style>
    .topNavStyle li{width:25%; float:left;text-align:center}
    .topNavStyle li a{font-size: 14px}
</style>	
<div class="menu" style="width:100%;padding:0px;padding-right: 10px;padding-left: 10px;">
    <div class="container" style="padding-right: 0px;padding-left:0px;">

        <div class="h_menu4" style="margin-top:0px"><!-- start h_menu4 -->

            <ul class="nav topNavStyle" style="display: block;list-style: none">
                <li class="active hover" onclick="changerLayer(this, 'before')"><a>贷前</a></li>
                <li onclick="changerLayer(this, 'ing')"><a >贷中</a></li>
                <li onclick="changerLayer(this, 'after')"><a >贷后</a></li>
                <li onclick="changerLayer(this, 'finished')"><a >结清</a></li>
               <!--tap标签未什么不起做用呢？-->

            </ul>

        </div><!-- end h_menu4 -->

    </div>
</div>

<script>
    function changerLayer(a, statid)
    {
        $(".col-md-6").hide();
        $("." + statid).show();

        $(".topNavStyle li").attr("class", "");
        $(a).attr("class", "active hover");
    }
</script>        

<div class="main" style=" height:100%">


    <!-- end content-top -->
    <div class="row class_box" style="width:100%;padding:10px;margin:0px">


        <!--列表这里开始循环-->
        <!-- -1无效 0待审核 10审核进行中 20审核完成 30合同签订 40放款完成 50生成标的 60还款中 70逾期 80坏账 90结清 -->
        <!-- 0-19 为贷前状态    20到40为贷中状态  50到80为贷后  90位结清- -->
        <%  
        if(requests.totalResult>0){////这个判断 使用page对象的属性
        for(var v in requests.pd.list){
        var request =requests.pd.list[v];
        if(request.stat>=0 && request.stat<=19){ 
        t_stat="before";
        }else if(request.stat>=20 ||request.stat<=40){
        t_stat="ing";
        }else if(request.stat>=50 && request.stat<=80){
        t_stat="after";
        }else if(request.stat===90 ){
        t_stat="finished";
        }
        %>	
        <div class="col-md-6 <%=t_stat%>" style="width: 100%;padding:0px; position:relative"> 
            <div class="class_right1" style="width:100%;">
                <h3 style=" text-align:left"> 
                    编号：<%=request.no%>
                    <!--<span style="font-size:13px;"> 
                    </span>
                    -->
                    <span style="font-size:13px;float:right;line-height:25px"> 
                        <% if(request.from ===0 ){ %>
                        参与
                        <% } %>
                        <% if(request.from ===1 ){ %>
                        申请
                        <% } %>
                        &nbsp;&nbsp;&nbsp;
                        <%=request.title%></span>
                </h3>
                <p style="color:#888;margin:10px; border-top:solid 1px #00BFF0;padding-top:5px"><%=request.checkInfo%></p>
                <div class="class_img">
                    <% if(request.from ===0 ){ %>
                    <img src="<%=request.inLogo%>" alt="" style="width:20%">
                    <% } %>
                    <% if(request.from ===1 ){ %>
                    <img src="<%=request.outLogo%>" alt="" style="width:20%">
                    <% } %>
                    <div class="class_desc1">
                        <h4>金额：<%=request.money/10000%>万 &nbsp;&nbsp;利率：<%=request.ratePercent%>%</h4>
                        <h4 style="margin-top:5px;margin-bottom:5px;">周期：<%=request.period%>个月</h4>
                        <h4 style="margin-top:5px;margin-bottom:5px;">
                        <% if(request.from ===0 ){ %>
                        <%=request.inName%>
                        <% } %>
                        <% if(request.from ===1 ){ %>
                        <%=request.outName%>
                        <% } %>
                        （评分6）
                        </h4>
                        <p style="margin-bottom: 10px;">创建时间：<%=request.joinTimeStr%></p>
                        <p>
                            <% if(request.stat >-1 && request.stat <19 ){ %>
                            贷前审核
                            <% } %>
                            <% if(request.stat >19 && request.stat <40 ){ %>
                            贷中审核
                            <% } %>
                            <% if(request.stat >50 && request.stat <80 ){ %>
                            贷后审核
                            <% } %>
                            <% if(request.stat ===90 ){ %>
                            结清
                            <% } %>
                            &nbsp;&nbsp;
                            保理融资
                            &nbsp;&nbsp;
                            等额本息
                        </p>
                    </div>
                    <div class="clear"></div>
                    <ul class="buttons_class" style="margin-top:-60px">
                        <li class="btn8"><a href="/mzb/userCenterLoan/loanRequest/<%=request.id%>/show">查看详情</a></li>	
                        <div class="clear"></div>
                    </ul>
                </div>
            </div>
        </div>
        <%} 
        }else{
        %>
        <%}%>
        <!--列表这里开始结束循环-->




        <div class="clear"></div>
    </div>
    <!-- end content-middle -->









</div>

<script>
    $(".col-md-6").hide();
    $(".before").show();

</script>
<%include ../../init/footerbar.html %>  
