<%include ../../init/topbar.html %>  
<div class="main">

    <div class="login_top">
        <div class="container">

            <div class="col-md-6">
                <div class="login-page">
                    <div class="login-title">
                        <h4 class="title">创建借款产品</h4>
                        <% if( unions.count ===undefined ||unions.count===0){ %> 
                        <a href="/mzb/userCenter/union">需要先加入或者创建联盟，才可以发布产品</a>
                        <% }else{ %>
                        <div id="loginbox" class="loginbox">
                            <form action="/mzb/userCenterLoan/doSaveStore" method="post" target="doSaveStore"  id="submit">
                                <fieldset class="input">
                                    <input type="hidden" id="outCompany" name="outCompany" value="1"/> <!--缓存companyId -->
                                    <p id="login-form-username">
                                        <label for="modlgn_username">产品标题</label>
                                        <input id="title" type="text" name="title" class="inputbox" size="18" autocomplete="off">
                                    </p>
                                    <p id="login-form-username">
                                        <label for="modlgn_username">产品类型</label>
                                        <br/>
                                        <select id="type" name="type"  style="width:100%; height:40px">
                                            <option value="0">保理融资</option>
                                            <option value="1">库存融资</option>
                                            <option value="2">订单融资</option>
                                            <option value="3">其他融资</option>
                                        </select>
                                    </p>
                                    <p id="login-form-username">
                                        <label for="modlgn_username">最少借款天数 </label>
                                        <input id="dayMin" type="text" name="dayMin" class="inputbox" size="18" autocomplete="off">
                                    </p>
                                    <p id="login-form-username">
                                        <label for="modlgn_username">最大借款天数 </label>
                                        <input id="dayMax" type="text" name="dayMax" class="inputbox" size="18" autocomplete="off">
                                    </p>
                                    <p id="login-form-username">
                                        <label for="modlgn_username">最低利率%</label>
                                        <input id="rateStart" type="text" name="rateStart" class="inputbox" size="18" autocomplete="off">
                                    </p>
                                    <p id="login-form-username">
                                        <label for="modlgn_username">最高利率%</label>
                                        <input id="rateEnd" type="text" name="rateEnd" class="inputbox" size="18" autocomplete="off">
                                    </p>
                                    <p id="login-form-username">
                                        <label for="modlgn_username">最大借款额(万元)</label>
                                        <input id="money" type="text" name="money" class="inputbox" size="18" autocomplete="off">
                                    </p>

                                    <p id="login-form-username">
                                        <label for="modlgn_username">操作天数</label>
                                        <input id="days" type="text" name="days" class="inputbox" size="18" autocomplete="off">
                                    </p>
                                    <p id="login-form-username">
                                        <label for="modlgn_username">还款方式</label>
                                        <br/>
                                        <select id="repayType" name="repayType"  style="width:100%; height:40px">
                                            <option value="0">等额本息</option>
                                            <option value="1">等本等息</option>
                                            <option value="2">先息后本</option>
                                            <option value="3">到期本息</option>
                                        </select>
                                    </p>
                                    <p id="login-form-username" >
                                        <label for="modlgn_username">产品描述</label>
                                        <textarea id="info"  name="info" value="借款描述" onfocus="this.value = '';" onblur="if (this.value == '') {
                                                    this.value = '借款描述';
                                                }">输入借款描述</textarea>
                                    </p>
                                    <p id="login-form-username">
                                        <label for="modlgn_username">发布到企业联盟</label>
                                        <br/>
                                        <select id="unionId" name="unionId"  style="width:100%; height:40px">
                                            <% 
                                            if(unions.count>0){
                                            for(var num in unions.data){
                                            var union = unions.data[num]; %>
                                            <option value="<%= union.id%>"><%= union.name%></option>
                                            <%} 
                                            }else{
                                            %>
                                            <%}%>
                                        </select>

                                    </p>
                                    <input type="button"  onclick="saveDemand()" name="Submit" class="button" value="保存借款产品">
                                    <div class="clear"></div>
                                    </div>
                                    <% } %>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div> 

        </div>
    </div> 
</div>

<style>
    textarea {
        width: 100%;
        font-size: 0.85em;
        margin: 10px 0;
        border: 1px solid #EEE;;
        color: inherit;
        font-family: 'Open Sans', sans-serif;
        outline: none;
        background: #fff;
        height: 100px;
        padding: 10px;
        resize: none;
    }

</style>
<script>
    function saveDemand() {
        if ($("#title").val() === null || $("#title").val() === "") {
            alert('请填写借款标题');
            return false;
        }
        if ($("#dayMin").val() === null || $("#dayMin").val() === "") {
            alert('请填写最少天数');
            return false;
        }
        if ($("#dayMax").val() === null || $("#dayMax").val() === "") {
            alert('请填写最多天数');
            return false;
        }
        if ($("#rateStart").val() === null || $("#rateStart").val() === "") {
            alert('请填写最低利率');
            return false;
        }
        if ($("#rateEnd").val() === null || $("#rateEnd").val() === "") {
            alert('请填写最高利率');
            return false;
        }
        if ($("#money").val() === null || $("#money").val() === "") {
            alert('请填写借款金额');
            return false;
        }
        if ($("#days").val() === null || $("#days").val() === "") {
            alert('请填写操作天数');
            return false;
        }
        if ($("#info").val() === null || $("#info").val() === "") {
            alert('请填写企业简介');
            return false;
        }
        $('#submit').submit(); //提交表单
    }
</script>
<iframe src=""  name="doSaveStore" id="doSaveStore" style="display:none"></iframe>
