<%include ../../init/topbar.html %>  
<div class="c-box">
    <div class="c-header">
        <div class="c-left">
            <%if(backUrl!=undefined && backUrl.length>0){%> 
            <a class="c-back" onclick="window.location.href = '<%=backUrl%>'"><img src="/pocc/img/icon5.png" /></a>
            <%}else{%> 
            <a class="c-back" onclick="history.go(-1)"><img src="/pocc/img/icon5.png" /></a>
            <%}%>
        </div>
        <div class="c-center"><%=title%></div>
        <div class="c-right">
            <a class="c-daixinz" href="/mzb/userCenterLoan/storeCreat"><img src="/pocc/img/icon51.png" />发布新产品</a>
        </div>
    </div>
    <div class="c-loanDemand">
        <ul>
            <%  
            if(stores.totalResult>0){ 
            for(var v in stores.pd.list){
            var store =stores.pd.list[v]; %>
            <li>
                <div class="mt">
                    <div class="c-t">
                        <h2>
                            <!--                            【 <% if(store.type ==0){ %>
                                                        保理融资
                                                        <% } %>
                                                        <% if(store.type ==1){ %>
                                                        库存融资
                                                        <% } %>
                                                        <% if(store.type ==2){ %>
                                                        订单融资
                                                        <% } %>
                                                        <% if(store.type ==3){ %>
                                                        其他融资
                                                        <% } %>】-->
                            <%=store.unionName%></h2>
                        <span class="fabu">
                            <% if(store.stat ==0){ %>
                            发布中
                            <% } %>
                            <% if(store.stat ==1){ %>
                            未发布
                            <% } %>
                        </span>
                        <a href="#">申请(<em><%=store.joins%></em>)</a>
                    </div>
                    <div class="c-b"><%=store.title%></div>
                </div>
                <div class="mc">
                    <div class="c-l">
                        <ul>
                            <li>
                                <h2><%=store.moneyWan%><span>万</span></h2>
                                <p>需求</p>
                            </li>
                            <li>
                                <dl>
                                    <dd>期限  <span><%=store.dayMin%>~<%=store.dayMax%> </span></dd>
                                    <dd>利率  <span><%=store.rateStartPercent%>%~<%=store.rateEndPercent%>%</span></dd>
                                </dl>
                            </li>
                        </ul>
                        <h3><img src="/pocc/img/icon52.png" />开始时间：<span><%=store.joinTimeStr%> </span></h3>
                    </div>
                    <div class="c-r">
                        <button class="c-btn c-btn1"><a href="/mzb/store/<%=store.id%>/<%=store.outCompany%>/<%=store.unionId%>/show">查看</a></button>
                        <button class="c-btn c-btn2"><a href="/mzb/userCenterLoan/editStore/<%=store.id%>">修改</a></button>
                    </div>
                </div>
                <%} 
                }else{
                %>
                <%}%>
            </li>
        </ul>
    </div>
    <div class="c-page">
        <!--<a class="page" href="#">首页</a><a class="on" href="#">1</a><a href="#">2</a><a href="#">3</a><a class="dian" href="#">...</a><a href="#">10</a><a class="page" href="#">下一页</a>-->
        <%-stores.pageStr%>
    </div>
</div>
<%include ../../init/footerbar.html %>  
