<%include ../../init/topbar.html %>  
<div class="c-g-my">
    <div class="mt">
        <img src="/pocc/img/bg2.jpg" />
        <div class="box">
            <div class="c-t">
                <div class="c-left">
                    <div class="c-img"> 
                        <%if(company.logo==undefined){%>
                        <img src="/mobile/images/about_img6.jpg"  style="width:110px" class="img-responsive" alt="">		  		
                        <%}else{%>
                        <img src="<%=company.logo%>" style="width:110px" class="img-responsive" alt="">
                        <%}%></div>
                    <div class="c-tit">
                        <h2><%=user.company.name%></h2>
                        <p><img src="/pocc/img/icon38.png" />pocc:<%=companyAccount.money%></p>
                    </div>
                </div>
                <div class="c-right">

                    <%  
                    if(message.pd.count>0){ 
                    for(var v in message.pd.list){
                    var messageInfo =message.pd.list[v]; %>
                    <% if(messageInfo.stat ==0){ %>
                    <div class="c-tixing c-btn">
                        <a href="/mzb/userCenter/message"><img src="/pocc/img/icon39.png" /></a>
                        <span></span>
                    </div>
                    <% } %>
                    <%} 
                    }else{
                    %>
                    <div class="c-tixing c-btn">
                        <a href="/mzb/userCenter/message"><img src="/pocc/img/icon39.png" /></a>
                    </div>
                    <%}%>
                    <div class="c-shezhi c-btn">
                        <a href="/mzb/userCenter/set"><img src="/pocc/img/icon40.png" /></a>
                    </div>
                </div>
            </div>
            <ul>
                <li><a href="/mzb/userCenter/moneylist">
                        <div class="c-img"><img src="/pocc/img/icon41.png" /></div>
                        <div class="c-tit">钱包</div>
                    </a></li>
                <li><a href="/mzb/userCenterLoan/loanRequest/">
                        <div class="c-img"><img src="/pocc/img/icon42.png" /></div>
                        <div class="c-tit">贷款管理</div>
                    </a></li>
                <li><a href="/mzb/userCenterLoan/demand">
                        <div class="c-img"><%=demandList.totalPage%></div>
                        <div class="c-tit">贷款需求</div>
                    </a></li>
                <li><a href="/mzb/userCenterLoan/store">
                        <div class="c-img"><%=storeList.totalPage%></div>
                        <div class="c-tit">贷款产品</div>
                    </a></li>
            </ul>
        </div>
    </div>
    <div class="mc">
        <ul>
            <li><a href="/mzb/union">
                    <div class="c-img"><img src="/pocc/img/icon43.png" /></div>
                    <div class="c-tit">联盟管理</div>
                    <div class="c-right"><img src="/pocc/img/icon46.png" /></div>
                </a></li>
            <li><a href="#">
                    <div class="c-img"><img src="/pocc/img/icon44.png" /></div>
                    <div class="c-tit">所属员工</div>
                    <div class="c-right"><img src="/pocc/img/icon46.png" /></div>
                </a></li>
            <li><a href="#">
                    <div class="c-img"><img src="/pocc/img/icon45.png" /></div>
                    <div class="c-tit">企业应用</div>
                    <div class="c-right"><img src="/pocc/img/icon46.png" /></div>
                </a></li>
            <li><a href="#">
                    <div class="c-img"><img src="/pocc/img/icon47.png" /></div>
                    <div class="c-tit">帮助中心</div>
                    <div class="c-right"><img src="/pocc/img/icon46.png" /></div>
                </a></li>
        </ul>
    </div>
</div>
<%include ../../init/footerbar.html %>  
