
			<div class="c-login">
				<div class="c-tou"><img src="img/tou.png" /></div>
				<dl>
					<dd>
						<div class="c-img"><img src="img/icon1.png" /></div>
						<div class="c-input"><input type="text" placeholder="请输入账号" /></div>
						<div class="c-del"><img src="img/icon3.png" /></div>
					</dd>
					<dd>
						<div class="c-img"><img src="img/icon2.png" /></div>
						<div class="c-input"><input type="password" placeholder="请输入密码" /></div>
						<div class="c-del"><img src="img/icon3.png" /></div>
					</dd>
					<dt><a class="c-forget" href="#">忘记密码？</a></dt>
				</dl>
				<button class="btn">登录</button>
				<div class="c-zhu"><a href="#">新用户？点击这里<span>注册</span></a></div>
			</div>
		