	<body>
		<div class="c-box">
			<div class="c-header">
				<div class="c-center">企业版注册</div>
			</div>
			<div class="c-h88"></div>
			<div class="c-registered">
			<form action="/mzb/register/doRegister" method="post" target="doRegister"  id="submit">
				<input type="hidden" id="client" name="client" value="测试app"/> <!-- 标记PC注册来源 -->
                <input type="hidden" id="type" name="type" value="1"/> <!-- 0个人 -->
				<div class="c-tou">
					<img src="/pocc/img/touxiang.png" />
					<input type="file" />
					<div class="c-img"><img src="/pocc/img/icon4.png" /></div>
				</div>
				<ul>
					<!-- <li>
						<div class="c-left">昵称</div>
						<div class="c-right"><input id="name" type="text" name="name" placeholder="请输入昵称" /></div>
					</li> -->
					<li>
						<div class="c-left">公司名称</div>
						<div class="c-right"><input  id="name" type="text" name="name"  placeholder="例：绿能汽车股份有限公司" /></div>
					</li>
					<li>
						<div class="c-left">企业法人</div>
						<div class="c-right"><input id="legalPerson" type="text" name="legalPerson"  placeholder="请输入法人名称" /></div>
					</li>
					<li>
						<div class="c-left">法人身份证</div>
						<div class="c-right"><input id="legalPersonCard" type="text" name="legalPersonCard" placeholder="请输入法人身份证" /></div>
					</li>
					<li>
						<div class="c-left">营业执照编号</div>
						<div class="c-right"><input  id="license" type="text" name="license" placeholder="请输入营业执照编号" /></div>
					</li>
					<li>
						<div class="c-left">手机号</div>
						<div class="c-right c-phone">
							<input type="text" id="mobile" type="text" name="mobile"  placeholder="请输入手机号" />
							<input class="c-yanz" type="button" value="获取验证码" onclick="sendCheckNum(this)" />
						</div>
					</li>
					<li>
						<div class="c-left">验证码</div>
						<div class="c-right"><input id="captcha" type="password" name="captcha" placeholder="请输入验证码" /></div>
					</li>
					<li>
						<div class="c-left">密码</div>
						<div class="c-right"><input id="password" type="text" name="password"  placeholder="请输入4~20位密码" /></div>
					</li>
					
					
				</ul>
				<div class="c-checkbox">
					<input type="checkbox" />已阅读并认同<a href="#">注册协议</a>
				</div>
				<button class="btn" type="button" onclick="bRegister()" >注册</button>
				</form>
				<div class="c-zhu"><a href="/mzb/login">已经有账号了？<span>点击登录</span></a></div>
			</div>
		</div>
		
		<script>
    function bRegister() {
        if ($("#nameP").val() === null || $("#nameP").val() === "") {
            alert('请填写昵称');
            return false;
        }
        if ($("#name").val() === null || $("#name").val() === "") {
            alert('请填写企业名称');
            return false;
        }
        if ($("#legalPerson").val() === null || $("#legalPerson").val() === "") {
            alert('请填写企业法人');
            return false;
        }
        if ($("#legalPersonCard").val() === null || $("#legalPersonCard").val() === "") {
            alert('请填写企业法人身份证');
            return false;
        }
        if ($("#license").val() === null || $("#license").val() === "") {
            alert('请填写营业执照');
            return false;
        }
        if ($("#mobile").val() === null || $("#mobile").val() === "") {
            alert('请填写手机号');
            return false;
        }
        if ($("#license").val() === null || $("#license").val() === "") {
            alert('请填写营业执照');
            return false;
        }
        if ($("#password").val() === null || $("#password").val() === "") {
            alert('请填写密码');
            return false;
        }
        $('#submit').submit(); //提交表单
    }
</script>


<script>
    function checkMobile(str) {
        var mobilePhone = str;
        var reg = /^1[0-9]{10}$/;
        if (!mobilePhone || mobilePhone == "请输入手机号") {
            return "手机号不能为空";
        } else if (!reg.test(mobilePhone)) {
            return "手机号有误";
        }
        return "OK";
    }
	
    function sendCheckNum(n){
   	 	var str = checkMobile($("#mobile").val());
   		if (str == "OK"){
            $("#doRegister").attr("src", "/mzc/register/getMobileCaptcha?mobile=" + $("#mobile").val());
    		settime(n);
        } else {
       		alert(str);
        }
    }


</script>
<iframe src=""  name="doRegister" id="doRegister" style="display:none"></iframe>