 <%include ../../init/topbar.html %>

<div class="c-fundingNeeds">
	<div class="mt">
		<ul class="c-slide c-tan">
			<li>
				<h3>
					全部类型<img src="/pocc/img/icon26.png" />
				</h3>
			</li>
			<li>
				<h3>
					全部利率<img src="/pocc/img/icon26.png" />
				</h3>

			</li>
			<li>
				<h3>
					全部周期<img src="/pocc/img/icon26.png" />
				</h3>
			</li>
		</ul>
		<div class="c-b">
			<dl class="c-slide c-tanMain">
				<dd>保理融资<div class="c-img"></div></dd>
				<dd>库存融资<div class="c-img"></div></dd>
				<dd>订单融资<div class="c-img"></div></dd>
				<dd>其他融资<div class="c-img"></div></dd>
			</dl>
			<dl class="c-slide c-tanMain">
				<dd>3.00%  以下<div class="c-img"></div></dd>
				<dd>3.01% - 6.00%<div class="c-img"></div></dd>
				<dd>6.01% - 12.00%<div class="c-img"></div></dd>
				<dd>12.01% 以上<div class="c-img"></div></dd>
			</dl>
			<dl class="c-slide c-tanMain">
				<dd>
					1 - 6  个月
					<div class="c-img"></div>
				</dd>
				<dd>
					7 - 12  个月
					<div class="c-img"></div>
				</dd>
				<dd>
					12  个月以上
					<div class="c-img"></div>
				</dd>
			</dl>
		</div>
		<button class="c-sousuo">搜索</button>
	</div>
</div>
<div class="c-allAlliance c-fundingNeeds">
	<div class="mc">
		<div class="c-top">
			<div class="c-h1">
				发布中<a class="new" href="#">+发布新项目</a>
			</div>
		</div>
		<ul>

			<%if(demandList.totalResult>0){ for(var it in demandList.pd.list) {
			var demand_=demandList.pd.list[it]; %>
				<li  onclick="window.open('/mzb/demand/<%=demand_.id%>/show','_self')" >
				<div class="c-level">评级：6</div>
				<div class="c-img">
					<!-- <img src="/pocc/img/img2.png" /> /uploadfile/storeimg/118/8/1/1535955801921.jpg-->
					<img src="<%=demand_.companyLogo%>" />
					<div class="c-type" style="background: #f19149;">
						<% if(demand_.ensure ==1){ %>
                        	提供担保
                        <% } %>
					</div>
				</div>
				<div class="c-tit" >
					<div class="c-t">
						<div class="c-l">
							<h2>
							<%=demand_.companyName_9%> <span><%=demand_.typeName%></span>	
							</h2>
							<p class="nowrap">需求资金：<%=demand_.moneyWan%>万
								<%=demand_.period%>个月</p>
						</div>
					</div>
					<div class="c-b">
						<img src="/pocc/img/icon29.png" /><span><%=utilTool.formatTime(demand_.joinTime,"YYYY-MM-DD")%></span><img
							src="/pocc/img/icon30.png" /><span>利率：<%=demand_.rateStartPercent%>~<%=demand_.rateEndPercent%>%</span>
					</div>
				</div>
				<span class="clearfix"></span>
				<div class="c-lp">
					<div class="c-l"><%=demand_.unionName%></div>
					<div class="c-r"><%=demand_.cNum%>个成员       评级6</div>
				</div>
			</li> 
			<%}%>
			<!--列表这里开始结束循环-->
			<div class="clear"></div>
			<%}else{%> 暂无 <%}%>
		</ul>
	</div>
</div>
<div class="c-page">
	<!-- <a class="page" href="#">首页</a><a class="on" href="#">1</a><a href="#">2</a><a
		href="#">3</a><a class="dian" href="#">...</a><a href="#">10</a><a
		class="page" href="#">下一页</a> -->
		
		 <%-demandList.pageStr%>
</div>


<%include ../../init/footerbar.html %>
