		<%include  ../../init/topbar.html %> 
		<div class="c-box">
			<div class="c-demandDetails">
				<div class="c-allAlliance c-fundingNeeds">
					<div class="mc">
						<ul>
							<li>
								<div class="c-level">评级：6</div>
								<div class="c-img">
									<!-- <img src="/pocc/img/img2.png" /> -->
									 <img src="<%=demandCompany.logo%>" />
									<div class="c-type" style="background: #f19149;">
										<% if(demand.ensure ==1){ %>
				                        	提供担保
				                        <% } %>
									</div>
								</div>
								<div class="c-tit">
									<div class="c-t">
										<div class="c-l">
											<h2><%=demandCompany.name%><span><%=demand.typeName%></span></h2>
											<!-- <p class="nowrap">需求资金：<%=demand.moneyWan%>万    <%=demand.periodMonth%>个月</p> -->
										</div>
									</div>
									<div class="c-b"><img src="/pocc/img/icon29.png" /><span>开始时间
									
									：<%=utilTool.formatTime(demand.joinTimeStr,"YYYY-MM-DD ")%> </span></div>
								</div>
							</li>
						</ul>
						<div class="c-b1">需求资金：<%=demand.moneyWan%>万   <%=demand.period%>个月</div>
						<div class="c-b1"><!-- <img src="/pocc/img/icon30.png" /> --><span>利率：<%=demand.rateStartPercent%>~<%=demand.rateEndPercent%>%</span></div>
					</div>
				</div>
				<div class="c-jichuziliao">
					<div class="c-h1">企业基础资料<a class="c-more" href="/mzb/company/<%=demandCompany.id%>/show">查看详情 ></a></div>
					<ul>
						<li>
							<div class="c-left">名称：</div>
							<div class="c-right"><%=demandCompany.name%></div>
						</li>
						<li>
							<div class="c-left">地址：</div>
							<div class="c-right"><%=demandCompany.address%></div>
						</li>
						<li>
							<div class="c-left">法人：</div>
							<div class="c-right"><%=demandCompany.legalPerson%></div>
						</li>
						<li>
							<div class="c-left">规模：</div>
							<div class="c-right"><%=demandCompany.people%>人</div>
						</li>
						<li>
							<div class="c-left">注册资金：</div>
							<div class="c-right"><%=demandCompany.registerFund%>万元</div>
						</li>
					</ul>
					<dl>
						<dd><a href="/mzb/company/<%=demandCompany.id%>/show/companyData">静态数据</a></dd>
						<dd><a href="/mzb/company/<%=demandCompany.id%>/show/dongtaiZuiSuo">动态追溯</a></dd>
						<dd><a href="/mzb/company/<%=demandCompany.id%>/show/companyFengxian">风险评估</a></dd>
						<dd><a href="/mzb/company/<%=demandCompany.id%>/show/companyPOCC">派克信用</a></dd>
						<dd><a href="/mzb/company/<%=demandCompany.id%>/show/compangYujing">风险预警(3)</a></dd>
						<dd><a href="/mzb/company/<%=demandCompany.id%>/show/dongtai">最新动态(25)</a></dd>
					</dl>
				</div>
				<div class="c-allianceMain">
					<div class="c-h1">所属联盟<a class="c-more" href="/mzb/union/<%=demandUnion.id%>/show">查看详情 ></a></div>
					<div class="mt">
						<div class="c-t">
							<div class="c-img"><img src="<%=demandUnion.logo%>" /></div>
							<div class="c-tit"><%=demandUnion.name%><span><img src="/pocc/img/icon6.png" /><%=demandUnion.num%>个成员</span></div>
							<div class="c-level">评级：6</div>
						</div>
						<div class="c-c">
							<ul>
								<li class="li1">
									<h2><span>26</span>次</h2>
									<p>操作项目</p>
								</li>
								<li class="li2">
									<h2>2065万</h2>
									<p>涉及资金额度</p>
								</li>
								<li>
									<h2>20</h2>
									<p>进行中项目</p>
								</li>
							</ul>
						</div>
						<div class="c-b">
							<div class="c-l">POCC持有量：20000万</div>
							<div class="c-r">已完成：1500万</div>
						</div>
					</div>
				</div>
				
				<% if(demand.ensure ==1){ %>
				     <div class="c-danhao">
						<div class="c-h1">担保设置<!-- <a class="c-more" href="#">查看详情 ></a> --></div>
						<ul>
							<li>提供担保总额：<%=demand.moneyWan%>万
								<div class="c-right">约<%=demand.moneyWan*0.5%>万派克币</div>
							</li>
							<li>链众盟保：80%
								<div class="c-right">约<%=demand.moneyWan*0.5*0.8%>万派克币</div>
							</li>
							<li>分众链保：20%
								<div class="c-right">约<%=demand.moneyWan*0.5*0.2%>万派克币</div>
							</li>
						</ul>
					</div>
                 <% } %>
				
				<div class="c-daikuan">
					<div class="c-h1">贷款描述<!-- <a class="c-more" href="#">查看详情 ></a> --></div>
					<div class="c-tit">
						<p><%=demand.info%></p>
					</div>
				</div>
				<div class="c-h236"></div>
				<div class="c-b-bottom">
					<div class="c-btn">
						 <%if(currentCompany.id==demandCompany.id){%>
						<!-- <button class="btn btn2">修改项目</button> -->
						 <button class="btn btn1" onClick="javascript:window.location.href='/mzb/userCenterLoan/editDemand?id='+<%=demand.id%>" >修改项目</button> 
				        <%}else{%>
						 <button class="btn btn1" onClick="javascript:window.location.href='/mzb/demand/toJoinDemand/<%=demandCompany.id%>/<%=demand.id%>'" >参与此项目</button>
				        <%}%>
					</div>
				</div>
			</div>
		</div>
