<%include ../../init/topbar.html %>  

<style>

    .btn1_b {
        background: none;
        font-size: 1em;
        padding: 4px 25px;
        color: #00BFF0;
        cursor: pointer;
        outline: none;
        -webkit-appearance: none;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
        font-weight: 100;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -o-border-radius: 3px;
        border: 1px solid #00BFF0;
    } 
    .topNavStyle li{width:33.3%; float:left;text-align:center}
    .topNavStyle li a{font-size: 14px}
    .box1_left { 
        margin-right: 10px;
        padding-right: 10px;
    }
</style>	
<div class="menu" style="width:100%;padding:0px;padding-right: 10px;padding-left: 10px;">
    <div class="container" style="padding-right: 0px;padding-left:0px;">

        <div class="h_menu4" style="margin-top:0px"><!-- start h_menu4 -->

            <ul class="nav topNavStyle" style="display: block;list-style: none">
                <li><a href="/mzb/union">加入的联盟</a></li>
                <li><a  href="/mzb/union/task">联盟任务</a></li>
                <li class="active hover"><a  href="/mzb/union/list">所有联盟</a></li>

            </ul>

        </div><!-- end h_menu4 -->

    </div>
</div>

<br/>
<div class="main" style=" height:100%">

    <div class="container">
        <div class="about_trainer" style="padding:0px">

            <div class="row about_box" style="margin:0px">


                <!---->
                <div class="col-md-4" style=" position:relative">

                    <div class="box2">
                        <%  
                        if(unionCompanys.totalPage>0){ 
                        for(var v in unionCompanys.pd.data){
                        var union =unionCompanys.pd.data[v]; %>
                        <div class="box1_right" style="width: 59%;">
                            <h4 class="right_text"><span class="m_text"><%=union.name%>  &nbsp;&nbsp;其他成员：<%=union.num-1%></span></h4>
                            <p class="right_text1" style="margin-bottom: 0px;">
                                <% if(union.info!==undefined ){ %>
                                <%=union.info%>               
                                <%}else{%>
                                暂无简介
                                <%}%> 
                            </p>
                            <% if(union.num>0 ){ %>
                            <p class="para1" style="margin-top:10px; text-align:right">
                                <!--<a href="/mzb/userCenter/set" class="btn1_b">进入</a>-->
                                <a onclick="getUnions('<%=union.id%>', '<%=union.num-1%>');" class="btn1_b">成员</a>
                            </p>             
                            <%}else{%>
                            <p class="para1" style="margin-top:10px; text-align:right">
                                <!--<a href="/mzb/userCenter/set" class="btn1_b">进入</a>-->
                                <a onclick="none();" class="btn1_b">成员</a>
                            </p> 
                            <%}%> 

                        </div>
                        <%} 
                        }else{
                        %>
                        <%}%> 
                        <div class="clear"></div> 
                        <div class="classes" id="l_id1_<%=union.id%>" style="display:none">  

                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>

        </div>
        <!-- end content-top --> 

        <div class="clear"></div> 
    </div>
    <!-- end content-middle -->	

</div>

<script>

    function getUnions(unionid, num)
    {
//        alert(num)
        if (num === "0") {
            alert("暂无其他成员");
        } else {
//        alert(unionid);
            $.ajax({
                type: "get", //方法类型
                dataType: "html", //预期服务器返回的数据类型
                url: "/mzb/union/otherCompany?unionId=" + unionid, //url
                data: {},
                success: function (result) {
                    alert(result);
                    $("#l_id1_" + unionid).html(result);
                    $("#l_id1_" + unionid).toggle(500);
                }
            });
        }
    }
</script>

<script>
//
//    function getUnions(unionid)
//    {
//        $.ajax({
//            type: "get", //方法类型
//            dataType: "html", //预期服务器返回的数据类型
//            url: "/mzb/union/otherCompany?unionId=" + unionid, //url
//            data: {},
//            success: function (result) {
//                $("#l_id1_" + unionid).html(result);
//                $("#l_id1_" + unionid).toggle(500);
//            }
//        });
//    }
//    function none()
//    {
//        alert("无成员");
//    }
</script>
</div>

<%include ../../init/footerbar.html %>  
