<%include ../../init/topbar.html %>    


<div class="main" style=" height:100%">

    <div class="row class_box" style="width:100%;padding:10px;margin:0px">

        <!--  - -->
        <div class="col-md-6 019" style="width: 100%;padding:0px;"> 
            <div class="class_right1" style="width:100%;">
                <h3 style=" text-align:left"><%=storeShow.data.title%>
                    <!--<span style="font-size:13px;">甲方</span>-->
                    <span style="font-size:13px;float:right;line-height:25px"> 
                        <% if(storeShow.data.type ==0){ %>
                        <p style="color:#00BFF0">保理融资</p>
                        <% } %>
                        <% if(storeShow.data.type ==1){ %>
                        <p style="color:#00BFF0">库存融资</p>
                        <% } %>
                        <% if(storeShow.data.type ==2){ %>
                        <p style="color:#00BFF0">订单融资</p>
                        <% } %>
                        <% if(storeShow.data.type ==3){ %>
                        <p style="color:#00BFF0">其他融资</p>
                        <% } %>
                    </span>
                </h3>
                <p style="color:#888;margin:10px; border-top:solid 1px #00BFF0"> </p>
                <div class="class_img">

                    <div class="class_desc1">
                        <h4>需求资金：<%=storeShow.data.money%>万 &nbsp;&nbsp;利率：<%=storeShow.data.rateStart%>~<%=storeShow.data.rateEnd%>%</h4>
                        <h4 style="margin-top:5px;margin-bottom:5px;">周期：<%=storeShow.data.period%>个月</h5>
                            <p style="margin-top:10px;margin-bottom:15px;">发布时间：<%=utilTool.formatTime(storeShow.data.joinTime,"YYYY-MM-DD hh:mm:ss")%>&nbsp;&nbsp;&nbsp; 参与：(0)&nbsp;&nbsp;&nbsp; 还款方式：
                                <% if(storeShow.data.repayType ==0){ %>
                                等额本息
                                <% } %>
                                <% if(storeShow.data.repayType ==1){ %>
                                等本等息
                                <% } %>
                                <% if(storeShow.data.repayType ==2){ %>
                                先息后本 
                                <% } %>
                                <% if(storeShow.data.repayType ==3){ %>
                                一次付本还息 
                                <% } %>
                            </p>
                    </div>

                </div>
            </div>
        </div>
    </div>





    <div class="clear"></div>

    <!-- end content-top -->
    <div class="allbox row class_box" style="width:100%;padding:10px;margin:0px">

        <!--  - -->
        <div class="col-md-6 019" style="width: 100%;padding:0px;"> 
            <div class="class_right1" style="width:100%;">
                <h3 style=" text-align:left">资金方 (评分<%=storeShow.company.score%>)
                    <!--<span style="font-size:13px;">乙方</span>-->
                    <span style="font-size:13px;float:right;line-height:25px"> <%=storeShow.company.name%></span>
                </h3>
<!--                <p style="color:#888;margin:10px; border-top:solid 1px #00BFF0;padding-top:10px;"><%=storeShow.company.info%></p>-->
                <div class="class_img">
                    <img src="images/c8.jpg" alt="" style="width:20%">
                    <div class="class_desc1">
                        <h4>联系人：<%=storeShow.company.contactName%> &nbsp;&nbsp;职务：负责人</h4>
                        <h4 style="margin-top:5px;margin-bottom:5px;">电话：<%=storeShow.company.contactMobile%></h5>
                            <p>地址：<%=storeShow.company.address%></p>
                    </div>
                    <div class="clear"></div>
                    <ul class="buttons_class" style="margin-top:-50px">
                        <!--<li class="btn7"><a href="#">Read More</a></li>	-->
                        <li class="btn8"><a href="/mzb/company/<%=storeShow.company.id%>/show">查看公司详情<%=storeShow.company.id%></a></li>	
                        <div class="clear"></div>
                    </ul>
                </div>
            </div>
        </div>

        <!-- -->
        <div class="clear"></div>
        <!--  - -->
    </div>
    <div  class="allbox row class_box" style="width:100%;padding:10px;margin:0px">
        <div class="col-md-6" style="width: 100%;padding:0px;margin-top:0px"> 
            <div class="class_right1" style="width:100%;">
                <h3 style=" text-align:left">产品描述  
                </h3>
                <p style="color:#888;margin:10px;padding-top:10px;border-top:solid 1px #00BFF0">
                   <%=storeShow.data.info%>
                </p>

            </div>
        </div>

        <div class="clear"></div>
    </div>
    <!-- end content-middle --> 
    <!--------->
    <div id="shenhe" class="allbox row class_box" style="width:100%;padding:10px;margin:0px">


        <!--  - -->
        <div class="col-md-6 019" style="width: 100%;padding:0px;margin-top:10px"> 
            <div class="class_right1" style="width:100%;">
                <h3 style=" text-align:left"> 
                    <span style="font-size:13px;">所在联盟</span>
                    <span style="font-size:13px;float:right;line-height:25px"></span>
                </h3>
                <p style="color:#888;margin:10px; border-top:solid 1px #00BFF0"> </p>
                <div class="class_img">

                    <div class="class_desc1"> 
                        <p style="margin-top:10px;margin-bottom:15px;">
                            <%=storeShow.unionChain.name%>
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>	

</div>

<!---只有出借方显示这段代码--->		
<div class="menu" style="width:100%;padding:0px;padding-right: 10px;padding-left: 10px; position:fixed; bottom:0px;left:0px">
    <div class="container" style="padding-right: 0px;padding-left:0px;">

        <div class="h_menu4" style="margin-top:1px"><!-- start h_menu4 -->

            <ul class="nav topNavStyle" style="display: block;list-style: none">
                <!---贷前状态显示这个 stat<20 --->

                <li style="width:98%; text-align: center"><a href="/mzb/userCenterLoan/loanRequest/:id/setStat/20" target="toNowWindow">立即参与</a></li>


            </ul>

        </div><!-- end h_menu4 -->

    </div>
</div>		
