<%include ../init/topbar.html %>  

<div class="c-newDemand">
    <form action="/mzb/userCenter/doEditPwd" method="post" target="doEditPwd"  id="submit">

        <input type="hidden" id="client" name="client" value="测试app"/> <!-- 标记PC注册来源 -->
        <input type="hidden" id="type" name="type" value="1"/> <!-- 0个人 -->  
        <input type="hidden" id="id" name="id" value="<%=userId%>"/> <!-- 0个人 --> 
        <dl>
            <dd>
                <div class="c-left">原密码</div>
                <div class="c-right">
                    <input id="oldPassword" type="password" name="oldPassword" placeholder="请输入原密码" />
                </div>
            </dd>
            <dd>
                <div class="c-left">新密码</div>
                <div class="c-right">
                    <input id="password" type="password" name="password" placeholder="请输入新密码" />
                </div>
            </dd>
            <dd>
                <div class="c-left">确认新密码</div>
                <div class="c-right">
                    <input id="password2" type="password" name="password2" placeholder="再次输入新密码" />
                </div>
            </dd>

        </dl>
        <div class="c-h128"></div>
        <div class="c-b-bottom">                
            <button type="submit"  onclick="return bEditPwd()" class="btn">保存</button>
        </div>
    </form>
</div>
<script src="/mobile/js/jquery1.42.min.js"></script>
<script>
                function bEditPwd() {
//                    alert("888");
                    if ($("#oldPassword").val() === null || $("#oldPassword").val() === "") {
                        alert('请填写原密码');
                        return false;
                    }
                    if ($("#password").val() === null || $("#password").val() === "") {
                        alert('请填写新密码');
                        return false;
                    }
                    if ($("#password2").val() === null || $("#password2").val() === "") {
                        alert('请确认新密码');
                        return false;
                    }
                    if ($("#password").val() === $("#oldPassword").val()) {
                        alert('新密码不能与旧密码一致');
                        return false;
                    }
                    if ($("#password").val() !== $("#password2").val()) {
                        alert('两次输入的新密码不一致');
                        return false;
                    }
                    return ture;
//                    $('#submit').submit(); //提交表单
                }
</script>
<iframe src=""  name="doEditPwd" id="doEditPwd" style="display:none"></iframe>
