<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
		<script type="text/javascript" src="/pocc/js/flexible.js" ></script>
		<link rel="stylesheet" href="/pocc/fonts/fonts.css" />
		<link rel="stylesheet" href="/pocc/css/c-reset.css" />
		<link rel="stylesheet" href="/pocc/css/style.css" />
                <script type="text/javascript" src="/pocc/js/jquery1.9.1.min.js" ></script>
		<script type="text/javascript" src="/pocc/js/style.js" ></script>
	</head>
	<body style="background: #f5f6f7;">
		<div class="c-box">
			 
			 
			 <%-body -%> 
			 
			 
			 
		</div>
            
            
            <script>
              function showMsg_public(txt)
              {/////暂时先这么弹   之后统一处理
                  alert(txt);
              }
                
            </script>
		
	</body>
</html>
