
<!DOCTYPE HTML>
<html>
    <head>
        <title><%=title%></title>
        <link href="/mobile/css/bootstrap.css" rel='stylesheet' type='text/css' />
        <link href="/mobile/css/style.css" rel='stylesheet' type='text/css' />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link href='http//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
        <link href='http//fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>
        <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
        <script src="/mobile/js/jquery.min.js"></script>
        <script src="/mobile/js/public.js"></script>
        <link href="/mobile/css/cropper-4.0.0.css" rel="stylesheet">
        <script src="/mobile/js/cropper-4.0.0.js"></script>
    </head>
    <body style=" background-color:#fff;height:100%">


        <style>
            h1.m_11 {
                left: 16%;
                top: 0px;
                font-size: 1.2em;
                padding: 10px 20px;
            }
            html{height:100%}
            body{height:100%}
        </style>
        <div class="main" style=" height:100%">
            <!--
               <div class="about_banner_img" style="height:40px">
                    <label style="color: #777;line-height: 2.8em;font-size: 0.95em;font-weight: 400;"><返回</label>
                   </div>-->
            <div class="about-wrapper" style="height:3px">

            </div> 	 

              <%-body -%>
        </div>


    </body>
</html

 