<%include ../../init/topbar.html %>  
		<div class="c-box">
			<div class="c-allianceMain c-businessDetails">
				<div class="mt">
					<div class="c-t">
						<div class="c-tit"><%=company.data.name%></div>
						<div class="c-level">评级：<%=company.data.score%></div>
					</div>
					<div class="c-address">
						<div class="c-img"><img src="<%=company.data.logo%>" /></div>
						<div class="c-tit">
							<p>法人：<span><%=company.data.legalPerson%></span></p>
							<p>营业执照：<span><%=company.data.license%></span></p>
							<p>地址：<span><%=company.data.address%></span></p>
						</div>
					</div>
					<ul class="c-xinxi">
						<li>注册资金：<span>
						 	<% if(company.data.registerFund ==undefined){ %>
                            	0
                            <%}else{%>
                            	<%=company.data.registerFund%>
                            <%}%>
							万
						</span></li>
						<li>企业规模：<span><%=company.data.people%>人</span></li>
						<li>所在城市：<span><%=company.data.city%></span></li>
						<li>企业类型：<span><%=company.data.cType%></span></li>
					</ul>
				</div>
				<div class="mb">
					<ul>
						<li><a href="/mzb/company/<%=company.data.id%>/show/companyData">静态数据</a></li>
						<li><a href="/mzb/company/<%=company.data.id%>/show/dongtaiZuiSuo">动态追溯</a></li>
						<li><a href="/mzb/company/<%=company.data.id%>/show/companyFengxian">风险评估</a></li>
						<li><a href="/mzb/company/<%=company.data.id%>/show/companyPOCC">派克信用</a></li>
						<li><a href="/mzb/company/<%=company.data.id%>/show/compangYujing">风险预警(3)</a></li>
						<li><a href="/mzb/company/<%=company.data.id%>/show/dongtai">最新动态(25)</a></li>
					</ul>
				</div>
				<div class="mc">
					<div class="c-h1">企业介绍</div>
					<p>
						<% if(company.data.info!==undefined ){ %>
	                    	<%=company.data.info%>               
	                    <%}else{%>
	                   		 暂无简介
	                    <%}%>
                    </p>
				</div>
				<div class="c-lianmeng">
					<div class="c-h1">所在联盟<div class="c-right"><%=unionlist.count%>个</div></div>
					<ul>
					    <%if(unionlist.count>0){ 
                        for(var v in unionlist.data){
                        var union =unionlist.data[v]; %>
	                       	<li>
								<div class="c-img"><img src="<%=union.logo%>" /></div>
								<div class="c-tit nowrap"><%=union.name%></div>
							</li>
                        <%} 
                        }else{
                        %>
                        <%}%> 
					</ul>
				</div>
				<div class="c-jiedai">
					<div class="c-h1">历史借贷<div class="c-right">0笔</div></div>
					<ul>
						<li>
							<h2><span>0</span>笔</h2>
							<p>逾期</p>
						</li>
						<li class="li1">
							<h2><span>0</span>笔</h2>
							<p>在还</p>
						</li>
						<li>
							<h2><span>0</span>笔</h2>
							<p>逾期</p>
						</li>
					</ul>
				</div>
			</div>
		</div>
