<%include ../../init/topbar.html %>  

<div class="c-newDemand">
    <form action="/mzb/userCenter/doEditCompany" method="post" target="doEditCompany"  id="submit">
        <dl>
            <input type="hidden" id="client" name="client" value="测试app"/> <!-- 标记PC注册来源 -->
            <input type="hidden" id="type" name="type" value="1"/> <!-- 0个人 -->
            <input type="hidden"  value="<%=company.data.logo%>" id="logo" name="logo">

            <dd>
                <div class="c-left">公司名称</div>
                <div class="c-right">
                    <input id="name" type="text" name="name" placeholder="请输入公司名称" value="<%=company.data.name%>"/>
                </div>
            </dd>
            <dd>
                <div class="c-left">法人姓名</div>
                <div class="c-right">
                    <input id="legalPerson" type="text" name="legalPerson" placeholder="请输入法人姓名" value="<%=company.data.legalPerson%>"/>
                </div>
            </dd>
            <dd>
                <div class="c-left">法人身份证</div>
                <div class="c-right">
                    <input id="legalPersonCard" type="text" name="legalPersonCard" placeholder="请输入法人身份证" value="<%=company.data.legalPersonCard%>"/>
                </div>
            </dd>
            <dd>
                <div class="c-left">营业执照编号</div>
                <div class="c-right">
                    <input id="license" type="text" name="license" placeholder="请输入营业执照编号"  value="<%=company.data.license%>"/>
                </div>
            </dd>
            <dd>
                <div class="c-left">上传LOGO</div>
                <div class="c-right">
                    <input type="file" name="logo3" src="<%=company.data.logo%>" id="upload1" onclick="return uploadFile()"  accept="image/*"> 
                    <div class="c-shangchuanimg"><img src="/pocc/img/icon50.png" /></div>
                </div>
            </dd>
            <dd>
                <div class="c-left">公司人数</div>
                <div class="c-right">
                    <input id="people" type="text" name="people" placeholder="请输入公司人数"  value="<%=company.data.people%>"/>
                </div>
            </dd>
            <dd>
                <div class="c-left">企业类型</div>
                <div class="c-right">
                    <select id="cType" name="cType"  style="width:100%; height:40px">
                        <option value="互联网" <%if(company.data.cType=="互联网"){%>selected<%}%>>互联网</option>
                        <option value="金融" <%if(company.data.cType=="金融"){%>selected<%}%>>金融</option>
                        <option value="运输" <%if(company.data.cType=="运输"){%>selected<%}%>>运输</option>
                    </select>
                    <div class="c-img"><img src="/pocc/img/icon31.png" /></div>
                </div>
            </dd>
            <dd>
                <div class="c-left">所在城市</div>
                <div class="c-right">
                    <!--                            <div class="express-area">
                                                    <a id="expressArea" href="javascript:void(0)">
                                                        <dl>
                                                            <dd>省 > 市 > 区/县</dd>
                                                        </dl>
                                                    </a>
                                                </div>-->
                    <%  
                    if(company.data.city===undefined){ 
                    %>
                    <input id="city" type="text" name="city"  placeholder="请输入公司所在城市" value="">
                    <%} 
                    else{
                    %>
                    <input id="city" type="text" name="city"   value="<%=company.data.city%>">
                    <%}%>
                </div>
            </dd>
            <dd>
                <div class="c-left">公司地址</div>
                <div class="c-right">
                    <%  
                    if(company.data.address===undefined){ 
                    %>
                    <input id="address" type="text" name="address" placeholder="请输入公司地址" value="">
                    <%} 
                    else{
                    %>
                    <input id="address" type="text" name="address"  value="<%=company.data.address%>">
                    <%}%>                     
                </div>
            </dd>
            <dd>
                <div class="c-left">联系人姓名</div>
                <div class="c-right">
                    <%  
                    if(company.data.contactName===undefined){ 
                    %>
                    <input id="contactName" type="text" name="contactName" placeholder="请输入联系人姓名" value="">
                    <%} 
                    else{
                    %>
                    <input id="contactName" type="text" name="contactName" value="<%=company.data.contactName%>">
                    <%}%>
                </div>
            </dd>
            <dd>
                <div class="c-left">联系人手机号</div>
                <div class="c-right">
                    <%  
                    if(company.data.contactMobile===undefined){ 
                    %>
                    <input id="contactMobile" type="text" name="contactMobile" value="">
                    <%} 
                    else{
                    %>
                    <input id="contactMobile" type="text" name="contactMobile" placeholder="请输入联系人手机号" value="<%=company.data.contactMobile%>">
                    <%}%>     
                </div>
            </dd>
        </dl>
        <div class="c-h128"></div>
        <div class="c-b-bottom">                                     
            <input type="submit"  onclick="return bEditCompany()" class="btn"value="保存">
        </div>
    </form>
</div> 
<div id="areaLayer" class="express-area-box">
    <div class="header">
        <h3>选择地区</h3>
        <a id="backUp" class="back" href="javascript:void(0)" title="返回"></a>
        <a id="closeArea" class="close" href="javascript:void(0)" title="关闭"></a>
    </div>
    <div class="article" id="areaBox">
        <ul id="areaList" class="area-list"></ul>
    </div>
</div>
<!--遮罩层-->
<div id="areaMask" class="mask"></div>
<script type="text/javascript" src="js/jquery1.9.1.min.js" ></script>
<script type="text/javascript" src="js/jquery.area.js" ></script>
<script src="/mobile/userCenter/company/company.js"></script>
<%include ../../init/uploadFile.html %>


<!--以下是上传图片是需要的--->
<%include ../../init/uploadFile.html %><!--上传图片 要引用这个文件--->
<script>
                    ////以下两个方法 上传图片时 必须存在。
                    function setUploadImage_x(imgPath, upload1)
                    {
                        //                                                alert(imgPath + "--" + upload1);
                        if (upload1 == 1)
                        {
                            //                                                    alert("in upload1 === 1");
                            $("#upload1").attr("src", imgPath);
                            $("#logo").val(imgPath);
                            //                                                    alert("logo是：" + $("#logo").val());

                        }
                    }

                    function uploadFile() {
                        //                                                alert("in uploadFile");
                        $.ajax({
                            type: 'get',
                            url: '/mzc/uploadFile',
                            cache: false,
                            dataType: "json",
                            data: {
                                USERID: USERID
                            },
                            success: function (r) {

                            },
                            error: function (a, b) {
                            }
                        });
                    }

                    $(function () {
                        $('#upload1').uploadImg({len: 1, aspectNum: 4, id: '1'});
                    });
</script>  
<!----->

<iframe src=""  name="doEditCompany" id="doEditCompany" style="display:none"></iframe>
