<%include ../../init/topbar.html %>  
<div class="c-box">
    <div class="c-header">
        <div class="c-left">
            <%if(backUrl!=undefined && backUrl.length>0){%> 
            <a class="c-back" onclick="window.location.href = '<%=backUrl%>'"><img src="/pocc/img/icon5.png" /></a>
            <%}else{%> 
            <a class="c-back" onclick="history.go(-1)"><img src="/pocc/img/icon5.png" /></a>
            <%}%>
        </div>
        <div class="c-center"><%=title%></div>
        <div class="c-right">
            <a class="c-daixinz" href="/mzb/userCenterLoan/demandCreat"><img src="/pocc/img/icon51.png" />发布新需求</a>
        </div>
    </div>
    <div class="c-loanDemand">
        <ul>
            <%  
            if(demands.totalResult>0){ 
            for(var v in demands.pd.list){
            var demand =demands.pd.list[v]; %>
            <li>
                <div class="mt">
                    <div class="c-t">
                        <h2> 
                            <!--                            【<% if(demand.type ==0){ %>
                                                        保理融资
                                                        <% } %>
                                                        <% if(demand.type ==1){ %>
                                                        库存融资
                                                        <% } %>
                                                        <% if(demand.type ==2){ %>
                                                        订单融资
                                                        <% } %>
                                                        <% if(demand.type ==3){ %>
                                                        其他融资
                                                        <% } %>】-->
                            <%=demand.unionName%></h2>
                        <span class="fabu">
                            <% if(demand.stat ==0){ %>
                            发布中
                            <% } %>
                            <% if(demand.stat ==1){ %>
                            未发布
                            <% } %>
                        </span>
                        <a href="#">反馈(<em><%=demand.joins%></em>)</a>
                    </div>
                    <div class="c-b"> <%=demand.title%></div>
                </div>
                <div class="mc">
                    <div class="c-l">
                        <ul>
                            <li>
                                <h2><%=demand.moneyWan%><span>万</span></h2>
                                <p>需求</p>
                            </li>
                            <li>
                                <dl>
                                    <dd>期限  <span><%=demand.period%>个月</span></dd>
                                    <dd>利率  <span><%=demand.rateStartPercent%>%-<%=demand.rateEndPercent%>%</span></dd>
                                </dl>
                            </li>
                        </ul>
                        <h3><img src="/pocc/img/icon52.png" />开始时间：<span><%=demand.joinTimeStr%></span></h3>
                    </div>
                    <div class="c-r">
                        <button class="c-btn c-btn1"><a href="/mzb/demand/<%=demand.id%>/show">查看</a></button>
                        <button class="c-btn c-btn2"><a href="/mzb/userCenterLoan/editDemand?id=<%=demand.id%>">修改</a></button>
                    </div>
                </div>
            </li>
            <%} 
            }else{
            %>
            <%}%>
        </ul>
    </div>

    <%-demands.pageStr%>
</div>
<%include ../../init/footerbar.html %>  
