<%include ../../init/topbar.html %>  
<div class="c-newDemand">                     
    <form action="/mzb/userCenterLoan/doEditDemand" method="post" target="doEditDemand"  id="submit">
        <input type="hidden" id="id" name="id" value="<%=demand.data.id%>"/> 
        <dl>  
            <dd>
                <div class="c-left">借款标题</div>
                <div class="c-right">
                    <input  id="title" type="text" name="title" placeholder="请输入借款标题" value="<%=demand.data.title%>"></input>
                </div>
            </dd>
            <dd>
                <div class="c-left">借款类型</div>
                <div class="c-right">
                    <select id="type" name="type">
                        <option value="0" <%if(demand.data.type==0){%>selected<%}%>>应收账款融资</option>
                        <option value="1" <%if(demand.data.type==1){%>selected<%}%>>预付款项融资</option>
                        <option value="2" <%if(demand.data.type==2){%>selected<%}%>>动产质押融资</option>
                        <option value="3" <%if(demand.data.type==3){%>selected<%}%>>其他融资</option>
                    </select>
                    <div class="c-img"><img src="/pocc/img/icon31.png" /></div>
                </div>
            </dd>
            <dd>
                <div class="c-left">借款周期</div>
                <div class="c-right">
                    <select id="period" name="period" >
                        <option value="1" <%if(demand.data.period==1){%>selected<%}%>>1个月</option>
                        <option value="2" <%if(demand.data.period==2){%>selected<%}%>>2个月</option>
                        <option value="6" <%if(demand.data.period==6){%>selected<%}%>>6个月</option>
                        <option value="12" <%if(demand.data.period==12){%>selected<%}%>>12个月</option>
                        <option value="24" <%if(demand.data.period==24){%>selected<%}%>>24个月</option>
                    </select>
                    <div class="c-img"><img src="/pocc/img/icon31.png" /></div>
                </div>
            </dd>
            <dd>
                <div class="c-left">最低期望利率%</div>
                <div class="c-right">
                    <input id="rateStart" type="text" name="rateStart" placeholder="请输入最低年化利率" value="<%=demand.data.rateStartPercent%>"/>
                </div>
            </dd>
            <dd>
                <div class="c-left">最高期望利率%</div>
                <div class="c-right">
                    <input id="rateEnd" type="text" name="rateEnd"  placeholder="请输入最高年化利率" value="<%=demand.data.rateEndPercent%>"/>
                </div>
            </dd>
            <dd>
                <div class="c-left">借款金额</div>
                <div class="c-right">
                    <input id="money" type="text" name="money"  placeholder="请输入金额" value="<%=demand.data.money%>"/>
                    <div class="c-tit">万元</div>
                </div>
            </dd>
            <!--            <dd class="c-big">
                            <div class="c-left">关联项目</div>
                            <div class="c-right">
                                <select>
                                    <option>请选择关联项目</option>
                                    <option>关联项目1</option>
                                    <option>关联项目2</option>
                                    <option>关联项目3</option>
                                </select>
                                <div class="c-img"><img src="/pocc/img/icon31.png" /></div>
                            </div>
                            <p>来源于系统收集的供应链数据</p>
                        </dd>-->
            <dd>
                <div class="c-left">开始时间</div>
                <div class="c-right">
                    <input id="beginTime" type="text" name="beginTime" placeholder="格式为:2018-08-08" value="<%=demand.data.beginTimeStr%>"/>
                </div>
            </dd>
            <dd>
                <div class="c-left">还款方式</div>
                <div class="c-right">
                    <select id="repayType" name="repayType" >
                        <option value="0" <%if(demand.data.repayType==0){%>selected<%}%>>等额本息</option>
                        <option value="1" <%if(demand.data.repayType==1){%>selected<%}%>>等本等息</option>
                        <option value="2" <%if(demand.data.repayType==2){%>selected<%}%>>先息后本</option>
                        <option value="3" <%if(demand.data.repayType==3){%>selected<%}%>>到期本息</option>
                    </select>
                    <div class="c-img"><img src="/pocc/img/icon31.png" /></div>
                </div>
            </dd>
            <dd>
                <div class="c-left">借款描述</div>
                <span class="clearfix"></span>
                <textarea id="info"  name="info" value="<%=demand.data.info%>" placeholder="请输入借款描述"><%=demand.data.info%></textarea>
            </dd>
            <dd>
                <div class="c-left">发布到企业联盟</div>
                <div class="c-right">
                    <select id="unionId" name="unionId">
                        <% 
                        if(unions.count>0){
                        for(var num in unions.data){
                        var union = unions.data[num]; %>
                        <option value="<%= union.id%>" <%if(demand.data.unionId==union.id){%>selected<%}%>><%= union.name%></option>
                        <%} 
                        }else{
                        %>
                        <%}%>
                    </select>
                    <div class="c-img"><img src="/pocc/img/icon31.png" /></div>
                </div>
            </dd>
        </dl>
        <div class="c-h128"></div>
        <div class="c-b-bottom"><button  type="submit" onclick="return editDemand()" class="btn">修改借款需求</button></div>
    </form>
</div>
<script>
    function editDemand() {
        if ($("#title").val() === null || $("#title").val() === "") {
            alert('请填写借款标题');
            return false;
        }
        if ($("#rateStart").val() === null || $("#rateStart").val() === "") {
            alert('请填写最低利率');
            return false;
        }
        if ($("#rateEnd").val() === null || $("#rateEnd").val() === "") {
            alert('请填写最高利率');
            return false;
        }
        if ($("#money").val() === null || $("#money").val() === "") {
            alert('请填写借款金额');
            return false;
        }
        if ($("#beginTime").val() === null || $("#beginTime").val() === "") {
            alert('请填写开始时间');
            return false;
        }
        if ($("#info").val() === null || $("#info").val() === "") {
            alert('请填写企业简介');
            return false;
        }
        return true;
//        $('#submit').submit(); //提交表单
    }
</script>
<iframe src=""  name="doEditDemand" id="doEditDemand" style="display:none"></iframe>
