<%include ../../init/topbar.html %>  
<div class="c-loanDemand c-g-08">
    <ul>
        <li>
            <div class="mtt">
                <div class="c-left">编号：<%=requests.loanRequest.id%></div>
                <div class="c-right">
                    <% if(requests.loanRequest.stat >=0 && requests.loanRequest.stat <=19 ){ %>
                    贷前审核
                    <% } %>
                    <% if(requests.loanRequest.stat >=20 && requests.loanRequest.stat <=40 ){ %>
                    贷中审核
                    <% } %>
                    <% if(requests.loanRequest.stat >=50 && requests.loanRequest.stat <=80 ){ %>
                    贷后审核
                    <% } %>
                    <% if(requests.loanRequest.stat ===90 ){ %>
                    结清
                    <% } %> 
                    <% if(requests.loanRequest.stat ===100 ){ %>
                    已取消
                    <% } %>
                </div>
            </div>
            <div class="mt">
                <div class="c-t">
                    <h2>【<%=requests.loanRequest.typeName%>】<%=requests.loanRequest.title%></h2>
                    <!--                    <a href="#"><img src="/pocc/img/icon48.png" />担保设置</a>-->
                </div>
            </div>
            <div class="mc">
                <div class="c-l">
                    <ul>
                        <li>
                            <h2><%=requests.loanRequest.money/10000%><span>万</span></h2>
                            <p>出借资金</p>
                        </li>
                        <li>
                            <dl>
                                <dd>周期  <span><%=requests.loanRequest.period/30%>个月</span></dd>
                                <dd>利率  <span><%=requests.loanRequest.rate/100%>%</span></dd>
                            </dl>
                        </li>
                    </ul>
                    <h3><img src="/pocc/img/icon53.png" />担保：企业已担保<%=requests.loanRequest.bEnsureMoney%>帕克,个人已担保<%=requests.loanRequest.pEnsureMoney%>帕克</h3>
                </div>
                <!--                <div class="c-r">
                                    <button class="c-btn c-btn1">还款计划</button>
                                    <button class="c-btn c-btn2">取消项目</button>
                                </div>-->
            </div>
        </li>
    </ul>
</div>
<div class="c-g-08slide">
    <div class="hd">
        <ul>
            <li>基本信息</li>
            <li>文件管理</li>
            <li>担保信息</li>
            <li>操作记录</li>
        </ul>
    </div>
    <div class="bd">
        <div class="box">
            <div class="c-allianceMain c-businessDetails">
                <div class="c-h1">出借方（甲方）</div>
                <div class="mt">
                    <div class="c-t">
                        <div class="c-tit"><%=requests.companyIn.name%></div>
                        <div class="c-level">评级：<%=requests.companyIn.score%></div>
                    </div>
                    <div class="c-address">
                        <div class="c-img"><img src="/pocc/img/img2.png" /></div>
                        <div class="c-tit">
                            <p>联系人：<span><%=requests.companyIn.contactName%></span></p>
                            <p>电话：<span><%=requests.companyIn.contactMobile%>0</span></p>
                            <p>地址：<span><%=requests.companyIn.address%></span></p>
                        </div>
                    </div>
                    <ul class="c-xinxi">
                        <li>注册资金：<span><%=requests.companyIn.registerFund%>万</span></li>
                        <li>企业规模：<span><%=requests.companyIn.people%>人</span></li>
                        <li>所在城市：<span><%=requests.companyIn.city%></span></li>
                        <li>企业类型：
                            <span>
                                <% if(requests.companyIn.cType=="互联网" ){ %>
                                互联网            
                                <%}else if(requests.companyIn.cType=="金融" ){%>
                                金融
                                <%}else if(requests.companyIn.cType=="运输" ){%>
                                运输
                                <%}%> 
                            </span></li>
                    </ul>
                </div>
            </div>
            <div class="c-allianceMain c-businessDetails">
                <div class="c-h1">借款方（乙方）</div>
                <div class="mt">
                    <div class="c-t">
                        <div class="c-tit"><%=requests.companyOut.name%></div>
                        <div class="c-level">评级：<%=requests.companyOut.score%></div>
                    </div>
                    <div class="c-address">
                        <div class="c-img"><img src="/pocc/img/img2.png" /></div>
                        <div class="c-tit">
                            <p>联系人：<span><%=requests.companyOut.contactName%></span></p>
                            <p>电话：<span><%=requests.companyOut.contactMobile%></span></p>
                            <p>地址：<span><%=requests.companyOut.address%></span></p>
                        </div>
                    </div>
                    <ul class="c-xinxi">
                        <li>注册资金：<span><%=requests.companyIn.registerFund%>万</span></li>
                        <li>企业规模：<span><%=requests.companyIn.people%>人</span></li>
                        <li>所在城市：<span><%=requests.companyIn.city%></span></li>
                        <li>企业类型：<span> <% if(requests.companyIn.cType=="互联网" ){ %>
                                互联网            
                                <%}else if(requests.companyIn.cType=="金融" ){%>
                                金融
                                <%}else if(requests.companyIn.cType=="运输" ){%>
                                运输
                                <%}%> </span></li>
                    </ul>
                </div>
            </div>
            <% if(requests.companyLink!==undefined ){ %>
            <div class="c-h1">第三方（丙方)</div>
            <div class="c-allianceMain c-businessDetails">
                <div class="mt">
                    <div class="c-t">
                        <div class="c-tit"> <%=requests.companyLink.name%></div>
                        <div class="c-level">评级： <%=requests.companyLink.score%></div>
                    </div>
                    <div class="c-address">
                        <div class="c-img"><img src="/pocc/img/img2.png" /></div>
                        <div class="c-tit">
                            <p>联系人：<span><%=requests.companyLink.contactName%></span></p>
                            <p>电话：<span><%=requests.companyLink.contactMobile%></span></p>
                            <p>地址：<span><%=requests.companyLink.address%></span></p>
                        </div>
                    </div>
                    <ul class="c-xinxi">
                        <li>注册资金：<span><%=requests.companyIn.registerFund%>万</span></li>
                        <li>企业规模：<span><%=requests.companyIn.people%>人</span></li>
                        <li>所在城市：<span><%=requests.companyIn.city%></span></li>
                        <li>企业类型：
                            <span>
                                <% if(requests.companyIn.cType=="互联网" ){ %>
                                互联网            
                                <%}else if(requests.companyIn.cType=="金融" ){%>
                                金融
                                <%}else if(requests.companyIn.cType=="运输" ){%>
                                运输
                                <%}%>
                            </span></li>
                    </ul>
                </div>
            </div>
            <%}else {%>
            <div class="c-h1">第三方（丙方）<a class="c-tianjia" href="/mzb/userCenterLoan/addThird/<%=requests.loanRequest.id%>/<%=requests.loanRequest.unionId%>/<%=requests.loanRequest.inCompany%>">+添加</a></div>
            <% } %>


            <div class="c-demandDetails">
                <div class="c-h1">贷款描述</div>
                <div class="c-daikuan">
                    <div class="c-tit">
                        <p> <%=requests.loanRequest.info%></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="c-wenjian">
                <div class="c-h1">贷款描述<a class="c-tianjia" href="#"><input type="file" />+上传文件</a></div>
                <ul>
                    <li>
                        <div class="c-img"><img src="/pocc/img/icon54.png" /></div>
                        <div class="c-tit nowrap">与两鲜签订的采购合同</div>
                        <button class="c-btn c-del">删除</button>
                        <button class="c-btn c-file">重新上传</button>
                        <input type="file" />
                    </li>
                </ul>
            </div>
        </div>
        <div class="box">
            <div class="c-danbaox">
                <div class="c-h1">联盟企业担保情况<div class="c-danbaoxin">
                        <!--                        已担保总额：19.3万帕克币-->
                    </div></div>
                <ul>
                    <%
                    if(ensureB.totalPage>0){

                    for(var ss in ensureB.pd.list)
                    {
                    var ensureInfo=ensureB.pd.list[ss];
                    if(ensureInfo.type===1 ){ 
                    %> 
                    <li>
                        <div class="c-img"><img src="/pocc/img/icon55.png" /></div>
                        <div class="c-tit nowrap"><%=ensureInfo.name%></div>
                        <div class="c-type">已担保</div>
                        <div class="c-number"><%=ensureInfo.money%>个帕克</div>
                    </li>
                    <%} 
                    }
                    }else{
                    %>
                    暂无企业担保记录
                    <%}%>
                </ul>
                <!--                <div class="c-b">
                                    <p>如借款成功，将付利息1009帕克币。</p>
                                    <a href="#"><span>查看明细</span>></a>
                                </div>-->
            </div>
            <div class="c-danbaox">
                <div class="c-h1">C端用户担保情况<div class="c-danbaoxin">
                        <!--                        已担保总额：19.3万帕克币-->
                    </div></div>
                <ul>
                    <%
                    if(ensureP.totalPage>0){

                    for(var ss in ensureP.pd.list)
                    {
                    var ensureInfo=ensureP.pd.list[ss];

                    %>
                    <li>
                        <div class="c-img"><img src="/pocc/img/icon55.png" /></div>
                        <div class="c-tit nowrap"><%=ensureInfo.username%></div>
                        <div class="c-type">已担保</div>
                        <div class="c-number"><%=ensureInfo.money%> 个帕克</div>
                    </li>
                    <%  
                    }
                    }else{
                    %>
                    暂无个人担保记录
                    <%}%>
                </ul>
                <!--                <div class="c-b">
                                    <p>如借款成功，将付利息1009帕克币。</p>
                                    <a href="#"><span>查看明细</span>></a>
                                </div>-->
            </div>
        </div>
        <div class="box">
            <div class="c-caozuo">
                <ul>
                    <%
                    if(ch.totalResult>0){

                    for(var ss in ch.pd.list)
                    {
                    var checkInfo=ch.pd.list[ss];
                    %>
                    <li>
                        <div class="c-t">
                            <h2><%=checkInfo.companyName%></h2>
                            <p><%=checkInfo.joinTimeStr%></p>
                        </div>
                        <h3><%=checkInfo.info%></h3>
                        <!--<h4>接收方：天天科技有限公司</h4>-->
                    </li>
                    <%
                    }
                    }
                    %>
                </ul>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript" src="/pocc/js/jquery.SuperSlide.js" ></script>
<script>jQuery(".c-g-08slide").slide({titCell: ".hd li", mainCell: ".bd", effect: "fade", });</script>
<iframe id="toNowWindow"  name="toNowWindow" style="display:none" ></iframe>		


<script>
    $(".col-md-6").hide();
    $(".019").show();

</script>