<%include ../../init/topbar.html %>  
<div class="c-h88"></div>
<div class="c-wallet">
    <div class="mt">
        <% if(userAccount.pd.resultCode==='NO' ){ %>
        <div class="c-t">
            <h2>0.00</h2>
            <p>总额</p>
        </div>
        <ul>
            <li class="li1">
                <h2>0.00</h2>
                <p>可用余额</p>
            </li>
            <li class="li2">
                <h2>0.00</h2>
                <p>冻结</p>
            </li>
            <li class="li1">
                <h2>0.00</h2>
                <p>待收</p>
            </li>
        </ul>
        <%}else{%>
        <div class="c-t">
            <h2><%=userAccount.pd.data.money+userAccount.pd.data.frozen+userAccount.pd.data.uncollected%>(单位:元)</h2>
            <p>总额</p>
        </div>
        <ul>
            <li class="li1">
                <h2><%=userAccount.pd.data.money%></h2>
                <p>可用余额</p>
            </li>
            <li class="li2">
                <h2><%=userAccount.pd.data.frozen%></h2>
                <p>冻结</p>
            </li>
            <li class="li1">
                <h2><%=userAccount.pd.data.uncollected%></h2>
                <p>待收</p>
            </li>
        </ul>
        <%}%>
    </div>
    <div class="mc">
        <div class="c-h1">账户记录</div>
        <div class="table">
            <div class="c-t">
                <ul>
                    <li class="li1">项目/时间</li>
                    <li class="li2">余额</li>
                    <li class="li3">增/减</li>
                </ul>
            </div>
            <div class="c-b">
                <ul>
                    <%  
                    if(foundRecordList.totalResult>0){ 
                    for(var v in foundRecordList.pd.list){
                    var foundRecord =foundRecordList.pd.list[v]; %>
                    <li>
                        <dl>
                            <dd class="li1">
                                <h2 class="nowrap">  <% if(foundRecord.info!==undefined ){ %>
                                    <%=foundRecord.info%>               
                                    <%}else{%>
                                    暂无简介
                                    <%}%> </h2>
                                <h3> <%=foundRecord.joinTimeStr%></h3>
                            </dd>
                            <dd class="li2">
                                <p>￥<%=foundRecord.afterMoney%></p>
                            </dd>
                            <dd class="li3">
                                <h4 class="zeng"> <% if(foundRecord.type===0 ){ %>
                                    +<%=foundRecord.money%>         
                                    <%}else{%>
                                    -<%=foundRecord.money%> 
                                    <%}%></h4>
                            </dd>
                        </dl>
                    </li>
                    <%} 
                    }else{
                    %>
                    <%}%> 
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="c-page">
    <!--<a class="page" href="#">首页</a><a class="on" href="#">1</a><a href="#">2</a><a href="#">3</a><a class="dian" href="#">...</a><a href="#">10</a><a class="page" href="#">下一页</a>-->
</div>
<div class="c-h128"></div>
<div class="c-b-bottom"><button class="btn">充值</button></div>
