<%include ../../init/topbar.html %>  
<% if( unions.count ===undefined ||unions.count===0){ %> 
<a href="/mzb/userCenter/union/creat">需要先加入或者创建联盟，才可以发布产品</a>
<% }else{ %>
<div class="c-newDemand">                     
    <form action="/mzb/userCenterLoan/doSaveStore" method="post" target="doSaveStore"  id="submit">

        <dl>  
            <dd>
                <div class="c-left">产品标题</div>
                <div class="c-right">
                    <input  id="title" type="text" name="title" placeholder="请输入借款标题"></input>
                </div>
            </dd>
            <dd>
                <div class="c-left">产品类型</div>
                <div class="c-right">
                    <select id="type" name="type">
                        <option value="0">保理融资</option>
                        <option value="1">库存融资</option>
                        <option value="2">订单融资</option>
                        <option value="3">其他融资</option>
                    </select>
                    <div class="c-img"><img src="/pocc/img/icon31.png" /></div>
                </div>
            </dd>
            <dd>
                <div class="c-left">最少周期</div>
                <div class="c-right">
                    <select id="type" name="dayMin">
                        <% 
                        for(var fd=1;fd<30;fd++)
                        {%>
                        <option value="<%=fd*30%>"><%=fd%>个月</option>
                        <%}%>

                    </select> 
                    <div class="c-img"><img src="/pocc/img/icon31.png" /></div>
                </div>
            </dd>
            <dd>
                <div class="c-left">最长周期</div>
                <div class="c-right">
                    <select id="type" name="dayMax">
                        <% 
                        for(var fd=1;fd<50;fd++)
                        {%>
                        <option value="<%=fd*30%>"><%=fd%>个月</option>
                        <%}%>

                    </select> 
                    <div class="c-img"><img src="/pocc/img/icon31.png" /></div>
                </div>
            </dd>
            <dd>
                <div class="c-left">最低利率%</div>
                <div class="c-right">
                    <input id="rateStart" type="text" name="rateStart" placeholder="请输入最低年化利率" />
                </div>
            </dd>
            <dd>
                <div class="c-left">最高利率%</div>
                <div class="c-right">
                    <input id="rateEnd" type="text" name="rateEnd"  placeholder="请输入最高年化利率" />
                </div>
            </dd>
            <dd>
                <div class="c-left">最大额(万元)</div>
                <div class="c-right">
                    <input id="money" type="text" name="money"  placeholder="请输入金额" />
                    <div class="c-tit">万元</div>
                </div>
            </dd>
            <dd>
                <div class="c-left">操作天数</div>
                <div class="c-right">
                    <input id="days" type="text" name="days"  placeholder="请输入操作天数" />
                </div>
            </dd>
<!--            <dd>
                <div class="c-left">开始时间</div>
                <div class="c-right">
                    <input id="beginTime" type="text" name="beginTime" placeholder="格式为:2018-08-08" />
                </div>
            </dd>-->
            <dd>
                <div class="c-left">还款方式</div>
                <div class="c-right">
                    <select id="repayType" name="repayType">
                        <option value="0">等额本息</option>
                        <option value="1">等本等息</option>
                        <option value="2">先息后本</option>
                        <option value="3">到期本息</option>
                    </select>
                    <div class="c-img"><img src="/pocc/img/icon31.png" /></div>
                </div>
            </dd>
            <dd>
                <div class="c-left">产品描述</div>
                <span class="clearfix"></span>
                <textarea id="info"  name="info" value="产品描述" placeholder="请输入产品描述"></textarea>
            </dd>
            <dd>
                <div class="c-left">发布到企业联盟</div>
                <div class="c-right">
                    <select id="unionId" name="unionId">
                        <% 
                        if(unions.count>0){
                        for(var num in unions.data){
                        var union = unions.data[num]; %>
                        <option value="<%= union.id%>"><%= union.name%></option>
                        <%} 
                        }else{
                        %>
                        <%}%>
                    </select>
                    <div class="c-img"><img src="/pocc/img/icon31.png" /></div>
                </div>
            </dd>
        </dl>
        <div class="c-h128"></div>
        <div class="c-b-bottom"><button  onclick="return saveDemand()" class="btn">保存借款产品</button></div>
    </form>
</div>
<% } %>
<script>
    function saveDemand() {
           if ($("#title").val() === null || $("#title").val() === "") {
            alert('请填写借款标题');
            return false;
        }
        if ($("#dayMin").val() === null || $("#dayMin").val() === "") {
            alert('请填写最少天数');
            return false;
        }
        if ($("#dayMax").val() === null || $("#dayMax").val() === "") {
            alert('请填写最多天数');
            return false;
        }
        if ($("#rateStart").val() === null || $("#rateStart").val() === "") {
            alert('请填写最低利率');
            return false;
        }
        if ($("#rateEnd").val() === null || $("#rateEnd").val() === "") {
            alert('请填写最高利率');
            return false;
        }
        if ($("#money").val() === null || $("#money").val() === "") {
            alert('请填写借款金额');
            return false;
        }
        if ($("#days").val() === null || $("#days").val() === "") {
            alert('请填写操作天数');
            return false;
        }
        if ($("#info").val() === null || $("#info").val() === "") {
            alert('请填写企业简介');
            return false;
        }
        return true;
//        $('#submit').submit(); //提交表单
    }
</script>
<iframe src=""  name="doSaveStore" id="doSaveStore" style="display:none"></iframe>
