<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title><%=title%></title>
		<script type="text/javascript" src="/pocc/js/flexible.js" ></script>
		<link rel="stylesheet" href="/pocc/fonts/fonts.css" />
		<link rel="stylesheet" href="/pocc/css/c-reset.css" />
		<link rel="stylesheet" href="/pocc/css/style.css" />
		<link rel="stylesheet" href="/pocc/css/swiper-4.2.0.min.css" />
        <script type="text/javascript" src="/pocc/js/jquery1.9.1.min.js" ></script>
		<script type="text/javascript" src="/pocc/js/style.js" ></script>
		<script type="text/javascript" src="/pocc/js/swiper-4.2.0.min.js" ></script>
	</head>
	<body style="background: #f5f6f7;">
		<div class="c-box">
			 
			 
			 <%-body -%> 
			 
			 
			 
		</div>
            
            
            <script>
                /**
                 * 
                 * @param {type} stype： error 错误， ok  成功  ， txt普通弹窗
                 * @param {type} txt  需要提示的文字
                 * @returns {undefined}
                 * 如 showMsg_public("error","登录失败")
                 */
              function showMsg_public(stype,txt)
              {/////暂时先这么弹   之后统一处理
                  alert(txt);
              }
                
            </script>
		
	</body>
</html>
