<div class="c-header">
    <div class="c-left">
        <%if(backUrl!=undefined && backUrl.length>0){%> 
        <a class="c-back" onclick="window.location.href = '<%=backUrl%>'"><img src="/pocc/img/icon5.png" /></a>
        <%}else{%> 
        <a class="c-back" onclick="history.go(-1)"><img src="/pocc/img/icon5.png" /></a>
        <%}%>
    </div>
    <div class="c-center">资金需求</div>
    <div class="c-right">
        <a href="#"><img src="/pocc/img/icon25.png" /></a>
        <a href="#"><img src="/pocc/img/icon24.png" /></a>
    </div>
</div>
<div class="c-h88"></div>


